# RAIZ:
+praTi.pdf
comprovanteTrilha.pdf
design_m1_apostila.pdf
design_m2_apostila.pdf
design_m3_apostila.pdf
Lista_de_Tarefas_1.pdf
Lista_de_Tarefas_2.pdf
rh.pdf

# PASTA HTML/CSS
fundamentos_HTML_CSS/Aula_17
fundamentos_HTML_CSS/Aula_21
fundamentos_HTML_CSS/Aula_22-23
fundamentos_HTML_CSS/Aula_27
fundamentos_HTML_CSS/Aula_28
fundamentos_HTML_CSS/Aula_29
fundamentos_HTML_CSS/Aula_31
fundamentos_HTML_CSS/Aula_32
fundamentos_HTML_CSS/hello.html
fundamentos_HTML_CSS/Calculadora
fundamentos_HTML_CSS/landing_page
fundamentos_HTML_CSS/landing_page/index.html
fundamentos_HTML_CSS/Museu
fundamentos_HTML_CSS/Eventos/eventos.css
hello.html

# PASTA JAVASCRIPT
fundamentos_Javascript/Aula_03
fundamentos_Javascript/Aula_07
fundamentos_Javascript/Aula_08
fundamentos_Javascript/Aula_09
fundamentos_Javascript/Aula_10
fundamentos_Javascript/Exercicios
fundamentos_Javascript/ListaDeTarefas/tempCodeRunnerFile.js
Jest


# PASTA REACT
fundamentos_React/Aula_32
fundamentos_React/Aula_33
fundamentos_React/Aula_34
fundamentos_React/Aula_35
fundamentos_React/Aula_36
fundamentos_React/Aula_37
fundamentos_React/Aula_39
fundamentos_React/Aula_40
fundamentos_React/Aula_41
fundamentos_React/Aula_42
fundamentos_React/Aula_43
fundamentos_React/Aula_44
fundamentos_React/Timer

# PASTA JAVA
fundamentos_JAVA

# PASTA SPRING
fundamentos_Spring/apiTestes
fundamentos_Spring/Aula_68
fundamentos_Spring/Aula_69
fundamentos_Spring/Aula_78_JWT_OAuth2
fundamentos_Spring/Aula_81
fundamentos_Spring/JWT-OAuth2Demo
fundamentos_Spring/relacionamentos-springBoot


# PASTA SQL
aula_67_delimiter.sql
aula_67_insert.sql
aula_67.sql
aula_68_spring.sql
cafeteria_bom_gosto.sql
cafeteria_bom_gosto_exercicios.sql
escola_hogwarts
escola_hogwarts.sql
escola_modelo.sql
hawkings.sql
I&TSolutions.png
fundamentos_SQL/upperComputadores.mwb
fundamentos_SQL/upperComputadores.mwb.bak


# Repositório Jaques
jaques
